<div class="app-footer">
	<div class="grid-row">
		<div class="grid-col-2-4">
			<h3>月 <strong>·</strong> 泉</h3>
			<ul>
				<li>分享生活 - 凝聚生活的每一瞬间</li>
				<li>分享技术 - 在分享中共同提高</li>
				<li>结交朋友</li>
			</ul>
		</div>
    <div class="grid-col-1-4">
      <h3>相关链接</h3>
       <ul>
          <li><a href="/blog">博文</a></li>
	  <!--
	  <li><a href="/labs">实验室</a></li>
	  <li><a href="/topic/intiate/index.html">创业团</a></li>
	  <li><a href="/links">前端英雄榜</a></li>
	  -->
      </ul>
    </div>
    <div class="grid-col-1-4">
      <div class="footer-about-links">
         <h3>关于</h3>
	 <!--
	 <a href="/topic/aboutme/index.html">关于月泉</a>
	 <a href="/topic/aboutblog/index.html">关于小剧客栈</a>
	 -->
      </div>
      <p class="footer-aboutme">
      <!-- <a href="/topic/aboutme/index.html" title="关于月泉"><i class="l-icon l-icon-layLogo"></i></a>-->
        <a href="https://github.com/yqwang" title="github"><i class="l-icon l-icon-git"></i></a>
	<!--
        <a href="http://www.zhihu.com/people/imju-zhong-ren" title="知乎"><i class="l-icon l-icon-zhihu"></i></a>
        <a href="https://dribbble.com/bh_lay" title="dribbble"><i class="l-icon l-icon-dribbble"></i></a>
	-->
      </p>
    </div>
    <div class="grid-box-full">
      <p>design & code by @剧中人,base on nodeJS + mongoDB</p>
      <p>感谢@剧中人的<a href="https://github.com/bh-lay/blog">源代码</a>分享</p>
      <form class="form-search" action="http://www.baidu.com/baidu">
        <input name=word type="text" maxlength="100" ><input type="submit" value="搜索">
        <input name=tn type=hidden value="bds">
        <input name=cl type=hidden value="3">
        <input name=ct type=hidden value="2097152">
        <input name=si type=hidden value="bh-lay.com">
      </form>
      {{{version}}}
    </div>
  </div>
</div>
